.booklist{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

}

.book-item {
  padding: 20px;
  margin: 10px auto;
  border-radius: 10px;
  border: 1px solid;
  width: 250px;
  position: relative;
}

.head {
  border: 1px solid #000;
  border-radius: 10px;
  background: green;
  color: red;
  width: 90%;
  margin: 20px auto;
}
.dlt{
  position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    border: 0;
    background: red;
    height: 30px;
    width: 30px;
    color: #fff;
    box-shadow: 0 0 5px 3px #0000004f;
    cursor: pointer;
}

.card:hover{
  color: brown;
  cursor: pointer;
}